name: chooz

services:
  db:
    image: postgres:17
    container_name: chooz-postgres-dev
    env_file:
      - ../.env
    volumes:
      - chooz_pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 1s
      timeout: 3s
      retries: 3

  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: chooz-image
    container_name: chooz-backend-dev
    env_file:
      - ../.env
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy

volumes:
  chooz_pg_data:
